body {
    font-family: Arial;
    margin: 20px;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}